
  <div class="navBox pl0">
    <a class="workTitle" href="/novel" tilte="写作频道"><img
      alt="写作频道" src="//img-bcy-qnpubin.pstatp.com/Image/logo/logo_novel-cdc4dbd106.png"></a>
  </div>
  <div class="js-leftTags" style="height: 277px; overflow-y: hidden; outline: none;" tabindex="0">
    <div class="navBox">
      <div class="mt20 mb30">
        <p class="tagsTitle">热门同人</p>
        <div class="l-clearfix">
          <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/9233" target="_blank">
            第五人格 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6332" target="_blank">
          凹凸世界 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6429" target="_blank">
          魔道祖师 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6806" target="_blank">
          王者荣耀 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/7619" target="_blank">
          阴阳师手游 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6723" target="_blank">
          火柴人 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/5623" target="_blank">
          Fate/Grand Order </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/5465"
                                  target="_blank">
          我的英雄学院 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/3770" target="_blank">
          VOCALOID </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/1827" target="_blank">
          黑塔利亚 </a></div>
      </div>
    </div>
  </div>
  <div class="nicescroll-rails nicescroll-rails-vr" id="ascrail2000"
       style="width: 4px; z-index: 1; cursor: default; position: absolute; top: 66px; left: 223px; height: 265px; touch-action: none; display: none; opacity: 0;">
    <div class="nicescroll-cursors"
         style="position: relative; top: 0px; float: right; width: 4px; height: 0px; background-color: rgb(109, 106, 119); border: none; background-clip: padding-box; border-radius: 2px; touch-action: none;"></div>
  </div>
