._box {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
#l-header,
#l-header .site-nav {
  display: flex;
  flex-direction: row;
}
#l-header .site-nav {
  justify-content: flex-start;
}
#l-header {
  transform: translateZ(0);
  width: 100%;
  height: 50px;
  min-width: 1200px;
  background-color: #fff;
  font-size: 14px;
  z-index: 101;
  position: fixed;
  top: 0;
  justify-content: space-between;
}
#l-header .site-nav_logo {
  display: block;
  margin: 6px 25px 6px 20px;
}
#l-header .site-nav_logo img {
  width: 107px;
  height: 38px;
}
/* #l-header a {
  color: #4d70a5;
} */
#l-header .headerItem,
#l-header .site-nav_item {
  display: block;
  font-size: 14px;
  color: #333333;
  line-height: 50px;
}
#l-header .site-nav_item {
  padding: 0 15px;
  cursor: pointer;
}
.dm-popover {
  display: inline-block;
  position: relative;
}
.app-download {
  font-size: 14px;
  position: relative;
}
.app-download .icon-phone {
  vertical-align: sub;
  font-size: 20px;
  color: #ff6fa2;
  margin-right: 10px;
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased; */
}
.icon-phone:before {
  content: '\E64F';
}
.dm-popover-content.app-download-content {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px 20px 5px;
  display: flex;
  flex-direction: row;
}
.dm-popover-content {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.dm-popover-content .dm-popover-arrow.arrow-B {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dm-popover-content .dm-popover-arrow {
  display: block;
  background-color: #fff;
  width: 10.64px;
  height: 10.64px;
  position: absolute;
  border: 1px solid #e5e5e5;
  border-radius: 1.5px;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.dm-popover-content.app-download-content img {
  width: 90px;
  height: 90px;
}
.dm-popover-content.app-download-content .tip {
  color: #666;
  font-size: 14px;
  line-height: 1;
  margin-top: 5px;
}
b {
  font-weight: 700;
}
.division {
  width: 1px;
  height: 50px;
  background-color: #ebeced;
  margin: 20px;
}
.bangumi-header {
  display: inline-block;
  height: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

/* 右侧开始 */
#l-header .right-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
#l-header .l-nav__search {
  width: 250px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}
#l-header .l-nav__search input {
  outline: none;
  background-color: #e5e5e5;
  color: #333;
  border-width: 0;
}

.search-input--flat input[type='text'] {
  width: 100%;
  height: 32px;
  padding-right: 28px;
  box-shadow: 0 0;
  border-radius: 4px;
}
#l-header .l-nav__search input {
  outline: none;
  background-color: #e5e5e5;
  color: #333;
  border-width: 0;
}
.search-input--flat input[type='submit'] {
  top: 0;
  right: 1px;
  width: 32px;
  height: 32px;
  outline: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAASFBMVEUAAABnZ2dxcXFnZ2dnZ2dnZ2dnZ2dmZmZmZmZnZ2dmZmZmZmZnZ2dnZ2doaGhnZ2dmZmZmZmZpaWlpaWlmZmZmZmZmZmZmZmZsgCrZAAAAF3RSTlMAiwnmcUfu0sO/tqykmYVnVVA/PTcjHkVg7PkAAABnSURBVBjTbY1ZEoAgDEOlBfd9y/1vqhIQx+H9vCbTToss4ux8fvKiuBnlzWh2OQz6uK+Nt4Vj4bBz0IG2CMdtTc84OFQdfcJ4b5gKMsI+WUuJb3poW6HkJh8NdTeJCU0i16y/JuXEBUp0A92Bu/uvAAAAAElFTkSuQmCC);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  text-indent: -999em;
}
.search-input--flat input[type='submit'],
.search-input--flat input[type='text'] {
  border-radius: 0;
}
.search-input input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;
}
.nav-account {
  position: relative;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  margin-left: 15px;
}
._inline_flex {
  display: inline-flex;
}
.posr {
  position: relative;
}
.nav-account .nav-account-item {
  position: relative;
  margin: 0 12px;
  color: #333;
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
}
.nav-account .nav-account-item a {
  color: #333;
}
#l-header .site-publish {
  display: block;
  width: 113px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  box-sizing: border-box;
  border: none;
  background-color: #ff6fa2;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.search-input {
  position: relative;
}
.publish-loaf {
  right: 0;
  background-color: #fff;
  z-index: 101;
  top: 66px;
  width: 300px;
  padding: 10px 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
#l-header .site-publish i {
  margin-right: 5px;
}
.ovh,
i[class^='i-'] {
  overflow: hidden;
}
i[class^='i-'] {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: top;
}
.i-publish {
  background-image: url(//s3.pstatp.com/bcy/image/sprite.4bc706.png);
  background-position: -132px -248px;
  width: 23px;
  height: 20px;
}
.publish-loaf {
  right: 0;
  background-color: #fff;
  z-index: 101;
  top: 66px;
  width: 300px;
  padding: 10px 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
