<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
  <%= require('./template/nav.html')%>
  <div id="leftNav">
      <div class="navBox pl0">
          <a href="/coser" class="workTitle" title="COS频道"><img src="//img-bcy-qnpubin.pstatp.com/Image/logo/logo_cos-848fe11d90.png" alt="COS频道"></a>
      </div>
      <div class="js-leftTags" style="height: 607px; overflow-y: hidden; outline: none;" tabindex="0">
          <div class="navBox">
              <a href="/tags/name/COS教程" class="navLinks">
                  <span class="i-arrow-next-left">COS教程</span>
              </a>
          </div>
          <div class="navBox">
              <a href="/tags/name/COS二手" class="navLinks">
                  <span class="i-arrow-next-left">COS二手</span>
              </a>
          </div>
          <div class="navBox">
              <a href="/tags/name/COS招募" class="navLinks">
                  <span class="i-arrow-next-left">COS招募</span>
              </a>
          </div>
          <div class="navBox">
              <div class="mt20 mb30">
                  <p class="tagsTitle">近期热门</p>
                  <div class="l-clearfix">
                      <a class="_tag _tag--left-event mt10 mr10 db l-left" href="/huodong/205" target="_blank">
                          COS系列赛八回目-COSER组 </a>
                      <a class="_tag _tag--left-event mt10 mr10 db l-left" href="/huodong/206" target="_blank">
                          COS系列赛八回目-摄影组 </a>
                      <a class="_tag _tag--left-event mt10 mr10 db l-left" href="/huodong/207" target="_blank">
                          COS系列赛八回目-视频组 </a>
                  </div>
              </div><div class="mt20 mb30">
                  <p class="tagsTitle">热门同人</p>
                  <div class="l-clearfix">
                      <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/9233" target="_blank">
                          第五人格 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6332" target="_blank">
                          凹凸世界 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6429" target="_blank">
                          魔道祖师 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6806" target="_blank">
                          王者荣耀 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/7619" target="_blank">
                          阴阳师手游 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/6723" target="_blank">
                          火柴人 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/5623" target="_blank">
                          Fate/Grand Order </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/5465" target="_blank">
                          我的英雄学院 </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/3770" target="_blank">
                          VOCALOID </a><a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/circle/index/1827" target="_blank">
                          黑塔利亚 </a> </div>
              </div>
              <div class="mt10">
                  <p class="tagsTitle">更多标签</p>
                  <div class="l-clearfix">
                      <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/COS" target="_blank">
                          COS </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/萝莉" target="_blank">
                          萝莉 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/御姐" target="_blank">
                          御姐 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/我要上推荐" target="_blank">
                          我要上推荐 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/古风" target="_blank">
                          古风 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/场照" target="_blank">
                          场照 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/双马尾" target="_blank">
                          双马尾 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/游戏" target="_blank">
                          游戏 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/绝对领域" target="_blank">
                          绝对领域 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/南小鸟" target="_blank">
                          南小鸟 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/黑丝" target="_blank">
                          黑丝 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/制服" target="_blank">
                          制服 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/白丝" target="_blank">
                          白丝 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/东条希" target="_blank">
                          东条希 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/正太" target="_blank">
                          正太 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/矢泽妮可" target="_blank">
                          矢泽妮可 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/初音未来" target="_blank">
                          初音未来 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/试妆" target="_blank">
                          试妆 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/园田海未" target="_blank">
                          园田海未 </a> <a class="_tag _tag--left-normal mt10 mr10 db l-left" href="/tags/name/绚濑绘里" target="_blank">
                          绚濑绘里 </a> </div>
              </div> </div>
      </div>
      <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 4px; z-index: 1; cursor: default; position: absolute; top: 66px; left: 223px; height: 606px; touch-action: none; display: block; opacity: 0;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 4px; height: 409px; background-color: rgb(109, 106, 119); border: none; background-clip: padding-box; border-radius: 2px; touch-action: none;"></div></div></div>
  <div id="grid-content">
      <div id="content-box">
          <div class="gridList ovf">
              <div class="ph10">
                  <div class="indexSliders js-indexSliders" style="overflow: hidden;">
                      <div class="js-slider-prev slider-prev">
                          <img src="//img-bcy-qnpubin.pstatp.com/Image/slider-prev-37db83d061.png">
                      </div>
                      <div class="js-slider-next slider-next">
                          <img src="//img-bcy-qnpubin.pstatp.com/Image/slider-next-7f2dd0255d.png">
                      </div>
                      <div id="slides" class="center ovf" style="overflow: hidden;">
                          <div class="slidesjs-container" style="overflow: hidden; position: relative; width: 1080px; height: 227.368px;"><div class="slidesjs-control" style="position: relative; left: 0px; width: 1080px; height: 227.368px;"><a href="https://bcy.net/static/bcycos8intro#nav" target="_blank" class="slidesjs-slide" slidesjs-index="0" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; backface-visibility: hidden; display: none;">
                                      <img class="js-indexSlidersItem" src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/1b5997f0f2bc11e898cdd78973f85346.jpg" style="width: 100%;">
                                  </a><a href="https://bcy-promo.snssdk.com/promo/puppetgirl/" target="_blank" class="slidesjs-slide" slidesjs-index="1" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;">
                                      <img class="js-indexSlidersItem" src="https://img-bcy-qn.pstatp.com/editor/flag/c0juk/746e23e0e95411e89d09673717a674ed.jpg" style="width: 100%;">
                                  </a><a href="https://bcy.net/item/detail/6628745924849959181" target="_blank" class="slidesjs-slide" slidesjs-index="2" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;">
                                      <img class="js-indexSlidersItem" src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/b6acbf90f2bf11e8bf516d8ac32029a6.jpg" style="width: 100%;">
                                  </a><a href="https://bcy.net/u/18305" target="_blank" class="slidesjs-slide" slidesjs-index="3" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;">
                                      <img class="js-indexSlidersItem" src="https://img-bcy-qn.pstatp.com/editor/flag/c0juk/ceb9e830e96c11e8b70efb8ced973420.jpg" style="width: 100%;">
                                      <p class="slider_title cut">【本期封面coser】千亿夏</p> </a><a href="https://bcy.net/u/101335736114" target="_blank" class="slidesjs-slide" slidesjs-index="4" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; display: block; backface-visibility: hidden;">
                                      <img class="js-indexSlidersItem" src="https://img-bcy-qn.pstatp.com/editor/flag/1796v/07bf8240e3e411e8aaad7dc50f2b8948.jpg" style="width: 100%;">
                                      <p class="slider_title cut">美少女安利丨皑皑白雪中的一抹颜色，一舞倾城~</p> </a></div></div>




                          <div class="slider__ft"><ul class="slidesjs-pagination"><li class="slidesjs-pagination-item"><a href="#" data-slidesjs-item="0" class="">1</a></li><li class="slidesjs-pagination-item"><a href="#" data-slidesjs-item="1" class="">2</a></li><li class="slidesjs-pagination-item"><a href="#" data-slidesjs-item="2" class="">3</a></li><li class="slidesjs-pagination-item"><a href="#" data-slidesjs-item="3" class="">4</a></li><li class="slidesjs-pagination-item"><a href="#" data-slidesjs-item="4" class="active">5</a></li></ul></div></div>
                  </div>
              </div>
              <div class="mt20 mb15">
                  <ul class="workBanners l-clearfix">
                      <li>
                          <a href="https://bcy.net/static/bcycos8intro#nav" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0jut/7a784dd0f07311e888b2b7b44899a000.jpg" alt="【活动】半次元COS系列赛八回目开赛啦！">
                              <p class="info mt5 pr5">【活动】半次元COS系列赛八回目开赛啦！</p> </a>
                      </li><li>
                          <a href="https://bcy.net/item/detail/6618366475776295175" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/c35b3fe0f2c011e899e6c9b34711ef86.jpg" alt="【活动】晒lolita返图，赢lo裙等百项奖！">
                              <p class="info mt5 pr5">【活动】晒lolita返图，赢lo裙等百项奖！</p> </a>
                      </li><li>
                          <a href="https://bcy.net/item/detail/6628745924849959181" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/d1699b20f2bd11e8b16795687d5ede8a.jpg" alt="【活动】晒CP23场照，赢主题官周">
                              <p class="info mt5 pr5">【活动】晒CP23场照，赢主题官周</p> </a>
                      </li><li>
                          <a href="https://bcy.net/u/18305" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/d25f9710f2c111e88bee65529bc67a15.jpg" alt="全能SSR型选手！想要拥有一只千亿夏~">
                              <p class="info mt5 pr5">全能SSR型选手！想要拥有一只千亿夏~</p> </a>
                      </li><li>
                          <a href="https://bcy.net/item/detail/6628134744821334285" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/62ebea20f2c411e88ffccd69ceb34bf3.jpg" alt="优雅美貌！精致宛如洋娃娃～">
                              <p class="info mt5 pr5">优雅美貌！精致宛如洋娃娃～</p> </a>
                      </li><li>
                          <a href="https://bcy.net/item/detail/6624355285307752708" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0juw/7903dea0f2d611e88e50bd1dcf95a273.jpg" alt="你撑伞停驻，是我眼中的美景">
                              <p class="info mt5 pr5">你撑伞停驻，是我眼中的美景</p> </a>
                      </li><li>
                          <a href="https://bcy.net/item/detail/6638403609333596419" target="_blank">
                              <img src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxk/3109d270073111e998a27916e3e6cfe6.jpg" alt="速来发帖征友，脱团指日可待">
                              <p class="info mt5 pr5">速来发帖征友，脱团指日可待</p> </a>
                      </li></ul>
              </div>
              <div class="ph10 js-centerBanner">
                  <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 90px;"><header class="l-center-banner-wrap">
                          <ul class="l-center-banner l-clearfix">
                              <li class="active">
                                  <a class="fz16 text" href="/coser">
                                      热门推荐 </a>
                              </li>
                              <li class="">
                                  <a class="fz16 text" href="/coser/toppost100">
                                      本周热门 </a>
                              </li>
                              <li class="">
                                  <a class="fz16 text" href="/coser/toppost100?type=lastday">
                                      今日热门 </a>
                              </li>
                              <li class="">
                                  <a class="fz16 text" href="/coser/toppost100?type=newPeople">
                                      新人榜 </a>
                              </li>
                              <li>
                                  <a class="fz16 text" href="/tags/name/cos?sort=recent" target="_blank">
                                      最新COS </a>
                              </li>
                          </ul>
                      </header></div>
              </div>
          </div>
      </div>
  </div>
  <%= require('./template/footer.html')%>

  </body>
</html>
