<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <%= require('./template/nav.html')%>
    <div class="h50"></div>
    <div class="container" data-hook="group">
      <div class="row mt20">
        <div class="col-big">
          <div>
            <div class="mb10 mt10" id="js-timeline">
              <ul class="js-getHot">
                <li class="_box pb20 border-bottom">
                  <div class="l-clearfix ph20 pt20">
                    <span class="l-left attent-num-large">
                      <p class="fz14">
                        20
                        <br />
                        回答
                      </p>
                    </span>
                    <div class="l-group-list-title">
                      <div class="db mb10 l-clearfix group-list-name">
                        <a
                          class="fz18 lh25 vam l-left mr15 text"
                          href="/group/list/140197"
                          target="_blank"
                        >
                          大家画头发的时候都是怎么下笔的？
                        </a>
                        <div class="l-right minor lh25 w250 ovf maxh26 tar">
                          <a
                            href="/tags/name/绘画"
                            class="_tag _tag--normal mr5 maxw180 cut l-right"
                            target="_blank"
                          >
                            绘画
                          </a>
                          <span class="l-right fz14 default lh22">来自：</span>
                        </div>
                      </div>
                      <div class="group-intro l-clearfix">
                        <a
                          href="/group/list/140197"
                          class="minor"
                          target="_blank"
                        >
                          <p class="lighter-gray mt8 fz14 ovf cut h18">
                            头发画得时候要画很长一条线.....我画的时候线条会断,各位大佬是怎么处理的......
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="pl75 pr20 mt5">
                    <a
                      class="db l-clearfix groupHotList"
                      href="/item/detail/6638077954234515726"
                      name="6638077954234515726"
                      target="_blank"
                    >
                      <p
                        class="ovf text fz14 lh1d5 js-content maxh65 l-left w675"
                      >
                        <span class="text">最赞回答</span>
                        :
                        谢邀，感觉头发的话线条练好就可以。多练习线条流畅度，切忌断线，和反复磨蹭的笔触，最好的状态是一笔下来的流畅曲线。多注意头发走向，上色的话就注重一下体现头发的体积和光感练习，慢慢来吧不要心急，先把线条练好。
                      </p>
                      <div class="l-right">
                        <img
                          class="w70"
                          alt="https://img-bcy-qn.pstatp.com/user/2760243/item/c0jxj/ew1al2y5l3ybsabdfk51w4ob2cfbxdd7.jpg/2X2"
                          src="https://img-bcy-qn.pstatp.com/user/2760243/item/c0jxj/ew1al2y5l3ybsabdfk51w4ob2cfbxdd7.jpg/2X2"
                        />
                      </div>
                    </a>
                  </div>
                </li>
                  <li class="_box pb20 border-bottom">
                      <div class="l-clearfix ph20 pt20">
<span class="l-left attent-num-large">
<p class="fz14">10<br>回答</p>
</span>
                          <div class="l-group-list-title">
                              <div class="db mb10 l-clearfix group-list-name">
                                  <a class="fz18 lh25 vam l-left mr15 text" href="/group/list/140647" target="_blank">新手女装cos要注意些什么？</a>
                                  <div class="l-right minor lh25 w250 ovf maxh26 tar">
                                      <a href="/tags/name/伪娘" class="_tag _tag--normal mr5 maxw180 cut l-right" target="_blank">
                                          伪娘 </a>
                                      <span class="l-right fz14 default lh22">来自：</span> </div>
                              </div>
                              <div class="group-intro l-clearfix">
                                  <a href="/group/list/140647" class="minor" target="_blank">
                                      <p class="lighter-gray mt8 fz14 ovf cut h18">
                                          想到什么说什么呗，大佬～ </p>
                                  </a> </div>
                          </div>
                      </div>
                      <div class="pl75 pr20 mt5">
                          <a class="db l-clearfix groupHotList" href="/item/detail/6638933948565029133" name="6638933948565029133" target="_blank">
                              <p class="ovf text fz14 lh1d5 js-content maxh85 l-left">
                                  <span class="text">最赞回答 </span>: 修胡子！！！！！！ </p>
                          </a>
                      </div> </li>
                  <li class="_box pb20 border-bottom">
                      <div class="l-clearfix ph20 pt20">
<span class="l-left attent-num-large">
<p class="fz14">12<br>回答</p>
</span>
                          <div class="l-group-list-title">
                              <div class="db mb10 l-clearfix group-list-name">
                                  <a class="fz18 lh25 vam l-left mr15 text" href="/group/list/140659" target="_blank">有哪些被画风耽误的动画呢？</a>
                                  <div class="l-right minor lh25 w250 ovf maxh26 tar">
                                      <a href="/circle/index/6332" class="_tag _tag--normal mr5 maxw180 cut l-right" target="_blank">
                                          <i class="i-origin-tag"></i>
                                          凹凸世界 </a>
                                      <span class="l-right fz14 default lh22">来自：</span>
                                  </div>
                              </div>
                              <div class="group-intro l-clearfix">
                                  <a href="/group/list/140659" class="minor" target="_blank">
                                      <p class="lighter-gray mt8 fz14 ovf cut h18">
                                          别画风耽误的动漫我认为应该很多吧。。比如凹凸世界，小绿和小蓝。。。。 </p>
                                  </a> </div>
                          </div>
                      </div>
                      <div class="pl75 pr20 mt5">
                          <a class="db l-clearfix groupHotList" href="/item/detail/6638923770708885764" name="6638923770708885764" target="_blank">
                              <p class="ovf text fz14 lh1d5 js-content maxh85 l-left">
                                  <span class="text">最赞回答 </span>: 南方公园√ </p>
                          </a>
                      </div> </li>
                  <li class="_box pb20 border-bottom">
                      <div class="l-clearfix ph20 pt20">
<span class="l-left attent-num-large">
<p class="fz14">27<br>回答</p>
</span>
                          <div class="l-group-list-title">
                              <div class="db mb10 l-clearfix group-list-name">
                                  <a class="fz18 lh25 vam l-left mr15 text" href="/group/list/140657" target="_blank">怎么用一句话证明自己是道友？</a>
                                  <div class="l-right minor lh25 w250 ovf maxh26 tar">
                                      <a href="/circle/index/6429" class="_tag _tag--normal mr5 maxw180 cut l-right" target="_blank">
                                          <i class="i-origin-tag"></i>
                                          魔道祖师 </a>
                                      <span class="l-right fz14 default lh22">来自：</span>
                                  </div>
                              </div>
                              <div class="group-intro l-clearfix">
                              </div>
                          </div>
                      </div>
                      <div class="pl75 pr20 mt5">
                          <a class="db l-clearfix groupHotList" href="/item/detail/6638934591941902606" name="6638934591941902606" target="_blank">
                              <p class="ovf text fz14 lh1d5 js-content maxh65 l-left w675">
                                  <span class="text">最赞回答 </span>: 谢邀， 江澄是里面一个很幸福的人。 父母和蔼，发小乖顺。 身体健康， 偶曾听到过他家有人 为了别人付出了所有， 亲情，健康，信念 却被弃了。 不禁躲在发小怀里嗤笑一声， 何人如此痴傻。 </p>
                              <div class="l-right">
                                  <img class="w70" alt="https://img-bcy-qn.pstatp.com/user/1555378/item/c0jxl/05ab760a1bd54757b80cfd3ac1b388b1.jpg/2X2" src="https://img-bcy-qn.pstatp.com/user/1555378/item/c0jxl/05ab760a1bd54757b80cfd3ac1b388b1.jpg/2X2"> </div>
                          </a>
                      </div> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-small">
          <div id="js-hotFixWrap">
            <div id="js-hotFix">
              <li class="group_right_banner">
                <a href="https://bcy.net/group/list/139569" target="_blank">
                  <img
                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxg/1e089cd0044b11e98a88ab8d47ee41a9.jpg"
                    alt=""
                  />
                </a>
              </li>
              <li class="group_right_banner">
                <a href="https://bcy.net/group/list/139487" target="_blank">
                  <img
                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxg/bdac43c0045711e993e33dafdba788db.jpg"
                    alt=""
                  />
                </a>
              </li>
              <li class="group_right_banner">
                <a href="https://bcy.net/group/list/139274" target="_blank">
                  <img
                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxe/dd886d0002c111e9a3798d7254daacee.jpg"
                    alt=""
                  />
                </a>
              </li>
              <li class="group_right_banner">
                <a href="https://bcy.net/group/list/138360" target="_blank">
                  <img
                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxa/13177760ff7d11e8ad436ff5af3db951.jpg"
                    alt=""
                  />
                </a>
              </li>
              <li class="group_right_banner">
                <a href="https://bcy.net/group/list/136670" target="_blank">
                  <img
                    src="https://img-bcy-qn.pstatp.com/editor/flag/1796z/65147b40f6fd11e8aa6889fcfd323d9c.jpg"
                    alt=""
                  />
                </a>
              </li>
              <li class="group_right_banner">
                <a href="https://bcy.net/group/list/139383" target="_blank">
                  <img
                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxf/13a79630035e11e9a66e0534ac4d0ba4.jpg"
                    alt=""
                  />
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="split-line"></div>
    <%= require('./template/footer.html')%>
  </body>
</html>
