<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<%= require('./template/nav.html') %>
<div id="leftNav">
    <div class="navBox p10">
        <a href="/illust" class="workTitle" title="绘画频道">
            <img
                    src="//img-bcy-qnpubin.pstatp.com/Image/logo/logo_illust-9fdc766d64.png"
                    alt="绘画频道"
            />
        </a>
    </div>
    <div
            class="js-leftTags"
            style="height: 587px; overflow-y: hidden; outline: none;"
            tabindex="0"
    >
        <div class="navBox">
            <a href="/tags/name/绘画教程" class="navLinks">
                <span class="i-arrow-next-left">绘画教程</span>
            </a>
        </div>
        <div class="navBox">
            <div class="mt20 mb30">
                <p class="tagsTitle">近期热门</p>
                <div class="l-clearfix">
                    <a
                            class="_tag _tag--left-event mt10 mr10 db l-left"
                            href="/huodong/215"
                            target="_blank"
                    >
                        荒野行动载具拟人绘
                    </a>
                    <a
                            class="_tag _tag--left-event mt10 mr10 db l-left"
                            href="/huodong/214"
                            target="_blank"
                    >
                        绘师奖学金4期
                    </a>
                    <a
                            class="_tag _tag--left-event mt10 mr10 db l-left"
                            href="/huodong/209"
                            target="_blank"
                    >
                        梦幻模拟战时装设计
                    </a>
                    <a
                            class="_tag _tag--left-event mt10 mr10 db l-left"
                            href="/huodong/208"
                            target="_blank"
                    >
                        食之契约美食拟人征集
                    </a>
                    <a
                            class="_tag _tag--left-event mt10 mr10 db l-left"
                            href="/huodong/204"
                            target="_blank"
                    >
                        CP手书视频挑战赛
                    </a>
                </div>
            </div>
            <div class="mt20 mb30">
                <p class="tagsTitle">热门同人</p>
                <div class="l-clearfix">
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/9233"
                            target="_blank"
                    >
                        第五人格
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/6332"
                            target="_blank"
                    >
                        凹凸世界
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/6429"
                            target="_blank"
                    >
                        魔道祖师
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/6806"
                            target="_blank"
                    >
                        王者荣耀
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/7619"
                            target="_blank"
                    >
                        阴阳师手游
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/6723"
                            target="_blank"
                    >
                        火柴人
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/5465"
                            target="_blank"
                    >
                        我的英雄学院
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/5623"
                            target="_blank"
                    >
                        Fate/Grand Order
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/1827"
                            target="_blank"
                    >
                        黑塔利亚
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/circle/index/8854"
                            target="_blank"
                    >
                        恋与制作人
                    </a>
                </div>
            </div>
            <div class="mt10">
                <p class="tagsTitle">更多标签</p>
                <div class="l-clearfix">
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/绘画"
                            target="_blank"
                    >
                        绘画
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/手绘"
                            target="_blank"
                    >
                        手绘
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/原创"
                            target="_blank"
                    >
                        原创
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/日系"
                            target="_blank"
                    >
                        日系
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/Q版"
                            target="_blank"
                    >
                        Q版
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/摸鱼"
                            target="_blank"
                    >
                        摸鱼
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/指绘"
                            target="_blank"
                    >
                        指绘
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/板绘"
                            target="_blank"
                    >
                        板绘
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/同人"
                            target="_blank"
                    >
                        同人
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/萝莉"
                            target="_blank"
                    >
                        萝莉
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/古风"
                            target="_blank"
                    >
                        古风
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/水彩"
                            target="_blank"
                    >
                        水彩
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/漫画"
                            target="_blank"
                    >
                        漫画
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/厚涂"
                            target="_blank"
                    >
                        厚涂
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/BL"
                            target="_blank"
                    >
                        BL
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/求约稿"
                            target="_blank"
                    >
                        求约稿
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/正太"
                            target="_blank"
                    >
                        正太
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/赛璐璐"
                            target="_blank"
                    >
                        赛璐璐
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/人设"
                            target="_blank"
                    >
                        人设
                    </a>
                    <a
                            class="_tag _tag--left-normal mt10 mr10 db l-left"
                            href="/tags/name/雷狮"
                            target="_blank"
                    >
                        雷狮
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div
            id="ascrail2000"
            class="nicescroll-rails nicescroll-rails-vr"
            style="width: 4px; z-index: 1; cursor: default; position: absolute; top: 66px; left: 223px; height: 586px; touch-action: none; display: block; opacity: 0;"
    >
        <div
                class="nicescroll-cursors"
                style="position: relative; top: 0px; float: right; width: 4px; height: 419px; background-color: rgb(109, 106, 119); border: none; background-clip: padding-box; border-radius: 2px; touch-action: none;"
        ></div>
    </div>
</div>
<div id="grid-content">
    <div id="content-box">
        <div class="gridList ovf">
            <div class="ph10">
                <div class="indexSliders js-indexSliders" style="overflow: hidden;">
                    <div class="js-slider-prev slider-prev">
                        <img
                                src="//img-bcy-qnpubin.pstatp.com/Image/slider-prev-37db83d061.png"
                        />
                    </div>
                    <div class="js-slider-next slider-next">
                        <img
                                src="//img-bcy-qnpubin.pstatp.com/Image/slider-next-7f2dd0255d.png"
                        />
                    </div>
                    <div id="slides" class="center ovf" style="overflow: hidden;">
                        <div
                                class="slidesjs-container"
                                style="overflow: hidden; position: relative; width: 1080px; height: 227.368px;"
                        >
                            <div
                                    class="slidesjs-control"
                                    style="position: relative; left: 0px; width: 1080px; height: 227.368px;"
                            >
                                <a
                                        href="https://bcy.net/huodong/214?order=index#nav"
                                        target="_blank"
                                        class="slidesjs-slide"
                                        slidesjs-index="0"
                                        style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; backface-visibility: hidden; display: block;"
                                >
                                    <img
                                            class="js-indexSlidersItem"
                                            src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxd/ff992f7001ad11e9b7591f73d3fbdbf0.jpg"
                                            style="width: 100%;"
                                    />
                                </a>
                                <a
                                        href="https://bcy.net/huodong/215"
                                        target="_blank"
                                        class="slidesjs-slide"
                                        slidesjs-index="1"
                                        style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;"
                                >
                                    <img
                                            class="js-indexSlidersItem"
                                            src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxg/972d3590040911e9bbebcd1bbaca92c8.jpg"
                                            style="width: 100%;"
                                    />
                                </a>
                                <a
                                        href="https://bcy.net/item/detail/6632099215424094477"
                                        target="_blank"
                                        class="slidesjs-slide"
                                        slidesjs-index="2"
                                        style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;"
                                >
                                    <img
                                            class="js-indexSlidersItem"
                                            src="https://img-bcy-qn.pstatp.com/editor/flag/17973/5707a730f9e011e8a5aaf31a5205a36a.jpg"
                                            style="width: 100%;"
                                    />
                                </a>
                                <a
                                        href="https://bcy.net/huodong/208"
                                        target="_blank"
                                        class="slidesjs-slide"
                                        slidesjs-index="3"
                                        style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;"
                                >
                                    <img
                                            class="js-indexSlidersItem"
                                            src="https://img-bcy-qn.pstatp.com/editor/flag/c0juq/b5be12a0ee0511e89cd71140da8148f7.jpg"
                                            style="width: 100%;"
                                    />
                                </a>
                                <a
                                        href="https://bcy.net/huodong/204"
                                        target="_blank"
                                        class="slidesjs-slide"
                                        slidesjs-index="4"
                                        style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 0; display: none; backface-visibility: hidden;"
                                >
                                    <img
                                            class="js-indexSlidersItem"
                                            src="https://img-bcy-qn.pstatp.com/editor/flag/c0juj/1b83ff90e88511e895641d0225b5e0ab.jpg"
                                            style="width: 100%;"
                                    />
                                </a>
                            </div>
                        </div>

                        <div class="slider__ft">
                            <ul class="slidesjs-pagination">
                                <li class="slidesjs-pagination-item">
                                    <a href="#" data-slidesjs-item="0" class="active">1</a>
                                </li>
                                <li class="slidesjs-pagination-item">
                                    <a href="#" data-slidesjs-item="1" class="">2</a>
                                </li>
                                <li class="slidesjs-pagination-item">
                                    <a href="#" data-slidesjs-item="2" class="">3</a>
                                </li>
                                <li class="slidesjs-pagination-item">
                                    <a href="#" data-slidesjs-item="3" class="">4</a>
                                </li>
                                <li class="slidesjs-pagination-item">
                                    <a href="#" data-slidesjs-item="4" class="">5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt20 mb15">
                <ul class="workBanners l-clearfix">
                    <li>
                        <a
                                href="https://bcy.net/huodong/214?order=index#nav"
                                target="_blank"
                        >
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxg/b26add10040b11e9a64407006229d483.jpg"
                                    alt="【活动】绘师奖学金4期"
                            />
                            <p class="info mt5 pr5">【活动】绘师奖学金4期</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://bcy.net/huodong/215" target="_blank">
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jxg/967186b0040911e9bbebcd1bbaca92c8.jpg"
                                    alt="【活动】荒野行动载具拟人绘启动啦！"
                            />
                            <p class="info mt5 pr5">【活动】荒野行动载具拟人绘启动啦！</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://bcy.net/huodong/212" target="_blank">
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/17973/fb02f000fa0e11e88ee6ff6d42fba24b.jpg"
                                    alt="【活动】古音律拟人征集"
                            />
                            <p class="info mt5 pr5">【活动】古音律拟人征集</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://bcy.net/huodong/208" target="_blank">
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0juq/6ea95810ee0111e895491523995ccfb9.jpg"
                                    alt="【活动】食之契约美食拟人征集"
                            />
                            <p class="info mt5 pr5">【活动】食之契约美食拟人征集</p>
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://bcy.net/item/detail/6631821442067464455"
                                target="_blank"
                        >
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0jx6/6d790fb0fc4a11e8955505d503bf3460.png"
                                    alt="你的年终绘师总结模板请查收！"
                            />
                            <p class="info mt5 pr5">你的年终绘师总结模板请查收！</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://bcy.net/huodong/204" target="_blank">
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0juj/1a628a00e88511e895641d0225b5e0ab.jpg"
                                    alt="【活动】CP手书视频挑战赛"
                            />
                            <p class="info mt5 pr5">【活动】CP手书视频挑战赛</p>
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://bcy-promo.snssdk.com/promo/puppetgirl/"
                                target="_blank"
                        >
                            <img
                                    src="https://img-bcy-qn.pstatp.com/editor/flag/c0juu/9a8600a0f14911e8a37ab7886f8bf2fe.png"
                                    alt="【游戏】这么可爱的一定是……"
                            />
                            <p class="info mt5 pr5">【游戏】这么可爱的一定是……</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ph10 js-centerBanner">
                <div
                        id="undefined-sticky-wrapper"
                        class="sticky-wrapper"
                        style="height: 90px;"
                >
                    <header class="l-center-banner-wrap" style="width: 1080px;">
                        <ul class="l-center-banner l-clearfix">
                            <li class="active">
                                <a class="fz16 text" href="/illust">热门推荐</a>
                            </li>
                            <li class="">
                                <a class="fz16 text" href="/illust/toppost100">本周热门</a>
                            </li>
                            <li class="">
                                <a class="fz16 text" href="/illust/toppost100?type=lastday">
                                    今日热门
                                </a>
                            </li>
                            <li class="">
                                <a
                                        class="fz16 text"
                                        href="/illust/toppost100?type=newPeople"
                                >
                                    新人榜
                                </a>
                            </li>
                            <li>
                                <a
                                        class="fz16 text"
                                        href="/tags/name/绘画?sort=recent"
                                        target="_blank"
                                >
                                    最新绘画
                                </a>
                            </li>
                        </ul>
                    </header>
                </div>
            </div>
            <ul class="js-illustIndexList l-clearfix gridList smallCards">
                <li class="js-smallCards _box" data-since="27317.605">
                    <a
                            href="/item/detail/6637763721223487757"
                            class="db posr ovf"
                            target="_blank"
                            title=" 米沙Misha"
                    >
                        <img
                                class="cardImage"
                                src="https://img-bcy-qn.pstatp.com/user/3104586/item/web/c0jxi/a8295f0005d411e985f1376bc03fef51.jpg/2X3"
                        />
                    </a>
                    <footer class="l-clearfix">
                        <a
                                href="/u/3104586"
                                target="_blank"
                                class="_avatar _avatar--user _avatar--xxxsm mr5 vam"
                        >
                            <img
                                    src="https://img-bcy-qn.pstatp.com/Public/Upload/avatar/3104586/cf4f9d4284104648b1fd3b363e05713a/fat.jpg/amiddle"
                            />
                        </a>
                        <a href="/u/3104586" target="_blank" class="name">
                            <span class="fz12 lh18 username cut dib vam">米沙Misha</span>
                        </a>
                        <div class="l-right">
                            <i class="i-liked-gray"></i>
                            <span class="like">4549</span>
                        </div>
                    </footer>
                </li>
                <li class="js-smallCards _box" data-since="27353.589"> <a href="/item/detail/6635195813507105032" class="db posr ovf" target="_blank" title=" 米沙Misha">
                        <img class="cardImage" src="https://img-bcy-qn.pstatp.com/user/3104586/item/web/c0jxb/c3062440006411e984c34b347d5e13d2.jpg/2X3"> </a>
                    <footer class="l-clearfix">
                        <a href="/u/3104586" target="_blank" class="_avatar _avatar--user _avatar--xxxsm mr5 vam"><img src="https://img-bcy-qn.pstatp.com/Public/Upload/avatar/3104586/cf4f9d4284104648b1fd3b363e05713a/fat.jpg/amiddle"></a>
                        <a href="/u/3104586" target="_blank" class="name"><span class="fz12 lh18 username cut dib vam">米沙Misha</span></a>
                        <div class="l-right">
                            <i class="i-liked-gray"></i>
                            <span class="like">10019</span>
                        </div>
                    </footer>
                </li>
                <li class="js-smallCards _box" data-since="27353.58"> <a href="/item/detail/6633260811533943054" class="db posr ovf" target="_blank" title=" 草莓串">
                        <img class="cardImage" src="https://img-bcy-qn.pstatp.com/user/3066742/item/c0jxl/gwsoarr4v51iglufgj4wlt3lcax1xnxn.jpg/2X3"> </a>
                    <footer class="l-clearfix">
                        <a href="/u/3066742" target="_blank" class="_avatar _avatar--user _avatar--xxxsm mr5 vam"><img src="https://img-bcy-qn.pstatp.com/Public/Upload/avatar/3066742/536e2b819c26435a87fbbb48546893c7/fat.jpg/amiddle"></a>
                        <a href="/u/3066742" target="_blank" class="name"><span class="fz12 lh18 username cut dib vam">草莓串</span></a>
                        <div class="l-right">
                            <i class="i-liked-gray"></i>
                            <span class="like">3344</span>
                        </div>
                    </footer>
                </li>
                <li class="js-smallCards _box" data-since="27353.569"> <a href="/item/detail/6636341110295757069" class="db posr ovf" target="_blank" title=" Karappo_">
                        <img class="cardImage" src="https://img-bcy-qn.pstatp.com/user/108922800712/item/c0jxe/214c09c1a8ab4ee2952f92fcda873fe6.jpg/2X3"> </a>
                    <footer class="l-clearfix">
                        <a href="/u/108922800712" target="_blank" class="_avatar _avatar--user _avatar--xxxsm mr5 vam"><img src="https://img-bcy-qn.pstatp.com/Public/Upload/avatar/108922800712/4d95559c07b44028bf1c08e3aef0f82e/fat.jpg/amiddle"></a>
                        <a href="/u/108922800712" target="_blank" class="name"><span class="fz12 lh18 username cut dib vam">Karappo_</span></a>
                        <div class="l-right">
                            <i class="i-liked-gray"></i>
                            <span class="like">2679</span>
                        </div>
                    </footer>
                </li>
                <li class="js-smallCards _box" data-since="27353.564"> <a href="/item/detail/6629656387414655236" class="db posr ovf" target="_blank" title=" 米沙Misha">
                        <img class="cardImage" src="https://img-bcy-qn.pstatp.com/user/3104586/item/web/c0jx6/3ffdcc40fc7911e899d1dff7f1088d7b.jpg/2X3"> </a>
                    <footer class="l-clearfix">
                        <a href="/u/3104586" target="_blank" class="_avatar _avatar--user _avatar--xxxsm mr5 vam"><img src="https://img-bcy-qn.pstatp.com/Public/Upload/avatar/3104586/cf4f9d4284104648b1fd3b363e05713a/fat.jpg/amiddle"></a>
                        <a href="/u/3104586" target="_blank" class="name"><span class="fz12 lh18 username cut dib vam">米沙Misha</span></a>
                        <div class="l-right">
                            <i class="i-liked-gray"></i>
                            <span class="like">7477</span>
                        </div>
                    </footer>
                </li>
                <li class="js-smallCards _box" data-since="27353.557"> <a href="/item/detail/6583486823824097543" class="db posr ovf" target="_blank" title=" Pigsney舒先生">
                        <img class="cardImage" src="https://img-bcy-qn.pstatp.com/user/102069233991/item/c0jjt/zpnh03vhnrwhrg9ifuwxf97519jxm0tz.jpg/2X3"> </a>
                    <footer class="l-clearfix">
                        <a href="/u/102069233991" target="_blank" class="_avatar _avatar--user _avatar--xxxsm mr5 vam"><img src="https://img-bcy-qn.pstatp.com/Public/Upload/avatar/102069233991/ae8660399993403b94decff4c088cc72/fat.jpg/amiddle"></a>
                        <a href="/u/102069233991" target="_blank" class="name"><span class="fz12 lh18 username cut dib vam">Pigsney舒先生</span></a>
                        <div class="l-right">
                            <i class="i-liked-gray"></i>
                            <span class="like">5496</span>
                        </div>
                    </footer>
                </li>
            </ul>
        </div>
    </div>
</div>
<%= require('./template/footer.html') %>
</body>
</html>
